body {
  font-family: "Raleway", sans-serif;

}

/* Presentación Section */
.NAVPRES {
  height: 100vh;
}

#start img {

  filter: blur(5px) brightness(60%);
  width: 100%;
  height: 100vh;

}

#floattext {
  position: absolute;
  top: 30%;
  right: 5%;
  
  text-align: end;

}

#about-me {

  height: 100vh;
}

#about-me img {

  width: 25%;
}

/* Mis trabajos */

#skills {

  max-width: max-content;
}

.experience {

  height: 100vh;
}


#experience .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio {

  height:100vh;
}


/* Contacto */

.contact {

  height:100vh;
}

#contact form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #contact form label {
    font-weight: 400;
  }
}

.navbar-brand {
  width: 100px;
}