body {
  font-family: "Raleway", sans-serif;

}

/* Presentación Section */
.NAVPRES {
  height: 100vh;
}

#start img {

  filter: blur(5px) brightness(60%);
  width: 100%;
  height: 100vh;

}

#floattext {
  position: absolute;
  top: 30%;
  right: 5%;

  text-align: end;

}

#about-me {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#about-me img {

  width: 25%;
}

/* Mis trabajos */

#experience {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.holi {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/* Contacto */

#contact {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#contact form label {

  font-weight: 700;
  color: #373a3c;

}



.navbar-brand {
  width: 100px;
}